.App {
  text-align: center;
  position: relative;
}

.absolute-left {
  position: absolute;
    background-color: rgba(255,255,255, 0.7);
}

.absolute-right {
  position: absolute;
    background-color: rgba(255,255,255, 0.7);
}


.cursor {
  height: 100%;
  border: 0.3px solid #b8bdbf;
  background-color: #b8bdbf;
  width: 0.5px;
  position: absolute;
  top: 0px;
  cursor: ew-resize;
}

.cursor-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cursor-drag:before {
  border-bottom: 25px solid #2f7591;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0px;
  width: 0;
}

.cursor-drag {
  width: 30px;
  cursor: grabbing;
  height: 50px;
  position: absolute;
  bottom: -50px;
}